#blue{
    background-color:blue;
    position: fixed;
    height: 250px;
    width: 250px;
    display: inline-block;
}

#green{
    background-color: green ;
    position: fixed;
    height: 100px;
    width: 100px;
    display: inline-block;
    left: 82px;
    top: 80px;
}

#black {
    background-color:black;
    position: relative;
    height: 75px;
    width: 75px;
    display: inline-block;

}